*.html text working-tree-encoding=UTF-8 eol=lf
*.css text working-tree-encoding=UTF-8 eol=lf
*.js text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.webmanifest text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
